[credential]
	helper = cache
[user]
	name = Vladimir Vitkov
	email = vvitkov@gmail.com
[alias]
	co = checkout
	ci = commit
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	synctags = "!if [ $(git remote show | wc -l) -gt 1 ] ; then for r in $(git remote show) ; do echo \"Fetching $r ...\" ; git fetch $r ; done && git push --tags origin; fi"
[push]
	default = simple
[core]
	autocrlf = input
[svn]
	rmdir = true
[fetch]
	prune = true
	pruneTags = true
