[credential]
	helper = cache
[user]
	name = Vladimir Vitkov
	email = vvitkov@gmail.com
[alias]
	co = checkout
	ci = commit
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	synctags = !git fetch origin && git fetch upstream && git push --tags origin
	pafs = push --all --force stash --verbose
[push]
	default = simple
[core]
	autocrlf = input
[svn]
	rmdir = true
[fetch]
	prune = true
	pruneTags = true
