[credential]
	helper = cache
[user]
	name = Vladimir Vitkov
	email = vvitkov@linux-bg.org
[core]
	autocrlf = input
	safecrlf = true
[alias]
	co = checkout
	ci = commit
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
